@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans,
    sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 auto;
  background: #1a1a28;
  color: #fff;
}

li,
p {
  line-height: 1.5rem;
}

a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}

:root {
  --yellow-1: #ffe600;
  --yellow-2: #f2c94c;

  --white: #ffffff;
  --white-200: #f2f2f2;

  --gray-100: #47475a;
  --gray-300: #2e2e38;
  --gray-700: #1a1a28;
  --gray-900: #c1bccc;
}
